<h1>{{titleBtn}}</h1>

<form [formGroup]="employeeForm" (ngSubmit)="submit()" #formDir="ngForm">
    <input type="hidden" formControlName="id">

    <div class="input-box">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" required="required" placeholder="Insert the name">
    </div>

    <div class="input-box">
        <label for="surname">Surname</label>
        <input type="text" id="surname" formControlName="surname" required="required" placeholder="Insert the surname">
    </div>

    <div class="input-box">
        <label for="department">Department</label>
        <select type="text" id="department" formControlName="department" required="required" placeholder="Insert the department">
            <option value="HR">HR</option>
            <option value="Financial">Financial</option>
            <option value="Purchasing">Purchasing</option>
            <option value="Service">Service</option>
            <option value="Janitorial">Janitorial</option>
        </select>
    </div>

    <div class="input-box">
        <label for="shift">Shift</label>
        <select type="text" id="shift" formControlName="shift" required="required" placeholder="Insert the shift">
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Night">Night</option>
        </select>
    </div>

    <div class="btn-box">
        <button type="submit" [disabled]="!employeeForm.valid">{{actionBtn}}</button>
        <button routerLink="/">Back</button>
    </div>
</form>