<mat-card>
<div class="employee-box">
    <button mat-raised-button color="primary" routerLink="/register">Register new employee</button>
    <div class="input-box">
        <mat-form-field>
        <mat-label for="search-input">Search</mat-label>
        <input matInput type="text" id="search-input" placeholder="Find" (input)="search($event)">
    </mat-form-field>
    </div>
</div>

<ag-grid-angular class="ag-theme-quartz-dark" [rowData]="employeeList" [columnDefs]="colDefs" [defaultColDef]="defaultColDef" style="height: 500px; width:100%">

</ag-grid-angular>
</mat-card>